@import "tailwindcss";

@theme {
  --color-background-soft: #FDFBF7;
  --color-background-sidebar: #F7F6F0;
  --color-border-natural: #E6E2D3;
  --color-border-subtle: #F0EFE7;
  --color-text-main: #333333;
  --color-text-heading: #2C2C24;
  --color-text-muted: #8A8A78;
  --color-accent-stone: #5A5A40;
}

@layer base {
  body {
    @apply bg-background-soft text-text-main;
  }
}
